.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-secondary);
}

.main-content {
  flex: 1;
}

@media (max-width: 768px) {
  .main-content {
    padding-top: 70px;
  }
}

